# AWS Slurm Parallel Data Read Speeds with Dask

## Imports

In [1]:
import dask.array as dsa
import numpy as np
import dask.dataframe as dd
from contextlib import contextmanager
import xarray as xr
import intake
import time
import dask
from matplotlib import pyplot as plt
from matplotlib.pyplot import cm
from matplotlib.ticker import MaxNLocator
import matplotlib.colors
import pandas as pd
from scipy.stats import sem
import tiledb
import socket
print(socket.gethostname())

Matplotlib is building the font cache; this may take a moment.

mgmt-jacobgreen-awsslurmv2basic-00058

## Slurm Job Script Configuration

In [2]:
import os
from dask.distributed import Client
from dask_jobqueue import SLURMCluster

dask_dir = '/mnt/shared/dask'
conda_dir = '/var/lib/pworks/miniconda3'
conda_env = 'cloud-data'
print('Conda Directory:', conda_dir, '\nConda Environment:', conda_env)

cluster = SLURMCluster(project='ca-cloudmgmt',
                       cores=4, # Number of cores in the job
                       memory='16GB', # Worker memory limit will be memory/processes
                       processes=4, # Sets number of Dask workers. Threads per dask worker will be cores/processes
                       name='awsv2slurmbasic', # Name of cluster
                       queue='compute', # Partition name
                       job_cpu=9, # Set this to the number of cpus per job
                       job_mem='48GB', # Amount of memory per job
                       walltime='01:00:00',
                       log_directory=os.path.join(dask_dir, 'logs'),
                       env_extra=[
                           'source {conda_sh}; conda activate {conda_env}'.format(
                           conda_sh = os.path.join(conda_dir, 'etc/profile.d/conda.sh'),
                           conda_env= conda_env
                           )
                       ],
                       header_skip=['--mem'],
                      )

client = Client(cluster)
print('Job Script:\n',cluster.job_script())

Conda Directory: /var/lib/pworks/miniconda3
Conda Environment: cloud-data
Job Script:
 #!/usr/bin/env bash

#SBATCH -J dask-worker
#SBATCH -e /mnt/shared/dask/logs/dask-worker-%J.err
#SBATCH -o /mnt/shared/dask/logs/dask-worker-%J.out
#SBATCH -p compute
#SBATCH -A ca-cloudmgmt
#SBATCH -n 1
#SBATCH --cpus-per-task=9
#SBATCH -t 01:00:00
source /var/lib/pworks/miniconda3/etc/profile.d/conda.sh; conda activate cloud-data
/var/lib/pworks/miniconda3/envs/cloud-data/bin/python -m distributed.cli.dask_worker tcp://10.1.3.88:37637 --nthreads 1 --nprocs 4 --memory-limit 3.73GiB --name dummy-name --nanny --death-timeout 60

## Benchmarking Setup

In [3]:
class DevNullStore:
    def __init__(self):
        pass
    def __setitem__(*args, **kwargs):
        pass

null_store = DevNullStore()

############################################################################################################################

class DiagnosticTimer:
    def __init__(self):
        self.diagnostics = []
        self.names = []
        
    @contextmanager
    def time(self, **kwargs):
        tic = time.time()
        yield
        toc = time.time()
        kwargs["runtime"] = toc - tic
        self.diagnostics.append(kwargs)
        
    def dataframe(self):
        return pd.DataFrame(self.diagnostics)
    
diag_timer = DiagnosticTimer()

############################################################################################################################

def name(fileType, daf): 
    globals()[f"df_{fileType}"] = daf
    diag_timer.names.append(globals()[f"df_{fileType}"])
    
    global df, da
    del df, da
    diag_timer.diagnostics = []
    
############################################################################################################################     

def total_nthreads():
    return sum([v for v in client.nthreads().values()])

def total_ncores():
    return sum([v for v in client.ncores().values()])

def total_workers():
    return len(client.ncores())

############################################################################################################################

class mainLoop:
    def errorCalc(self, df0):
        global tests
        newVals = []
        info = []
        thrPut = df0['throughput_Mbps']
        rTime = df0['runtime']
        for i in np.linspace(0, len(thrPut)-tests, int(len(thrPut)/tests), dtype='int'):
            means = thrPut[slice(i,(i+tests))].mean()
            runtime = rTime[slice(i,(i+tests))].mean()
            errors = sem(thrPut[slice(i,(i+tests))])
            error_kwargs = dict(runtime = runtime, throughput_Mbps = means, errors = errors)
            info.append(df0.iloc[i, 0:8])
            newVals.append(error_kwargs)
        
        df1 = pd.DataFrame(info, index=range(len(info)))
        df2 = pd.DataFrame(newVals)
        df = pd.concat([df1, df2], axis=1)
        return df

    def loop(self, da, diag_kwargs):
        global tests, max_workers, worker_step
        worker_range = np.arange(max_workers, 0, -worker_step)
        worker_range = np.insert(worker_range, 0, max_workers)
        for nworkers in worker_range:
            cluster.scale(nworkers)
            time.sleep(10)
            client.wait_for_workers(nworkers)
            print('Number of Workers:', nworkers)
            for i in range(tests):
                with diag_timer.time(nworkers=total_workers(), nthreads=total_nthreads(), ncores=total_ncores(),
                                     **diag_kwargs):
                    future = dsa.store(da, null_store, lock=False, compute=False)
                    dask.compute(future, retries=5)
                del future
        
        df = diag_timer.dataframe()
        df['throughput_Mbps'] = da.nbytes / 1e6 / df['runtime']
        if i != 0:
            df = self.errorCalc(df)
        #df.drop(index=df.index[0], 
        #axis=0, 
        #inplace=True)
        #df.reset_index(drop=True, inplace=True)
        return df

mainLoop = mainLoop()

---------------

## Perform Benchmarking

###  User Input for Testing Conditions

In [4]:
# Loop Parameters
tests = 5
max_workers = 40
worker_step = 4 # Should be the same or a multiple of the number of processes you set in SLURMCluster(...)

# Data Location
data = 'slp.1948-2009'

# Cloud Access Information
cloud = 'AWS'
instance = 'AWS'

# Cloud Storage Access Token File
if cloud == 'GCP':
    root = 'gs://cloud-data-benchmarks/'
    storage_options = dict(token='/var/lib/pworks/cloud-data-benchmarks.json')
elif cloud == 'AWS':
    root = 's3://cloud-data-benchmarks/'
    storage_options = dict(dict(key='AKIARQNWZVPEXT4R7FGM', secret='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'), 
                           config_kwargs=dict(s3=dict(max_concurrent_requests=100))) # Credentials are stored in a credentials file within each node
else:
    print('Please specify the cloud provider (either "GCP" or "AWS")')

### Tabular Data

#### CSV

##### Single File

In [ ]:
cluster.scale(max_workers)
client.wait_for_workers(max_workers)
tic1 = time.time()
df0 = dd.read_csv(root + data + '.csv', assume_missing=True, names=['lon', 'lat', 'z'], storage_options=storage_options)
toc1 = time.time()
connectTime = toc1-tic1

da = df0.to_dask_array(lengths=True)
del df0
chunksize = np.prod(da.chunksize) * da.dtype.itemsize
cluster.scale(0)
da

In [ ]:
diag_kwargs = dict(nbytes=da.nbytes, chunksize=chunksize, cloud=cloud, instance=instance,
                    format='CSV', connectTime=connectTime)

df = mainLoop.loop(da, diag_kwargs)
name('csv', df)
df_csv

##### Multiple Files

In [ ]:
cluster.scale(max_workers)
client.wait_for_workers(max_workers)
tic1 = time.time()
df0 = dd.read_csv(root + data + '.50MB.partcsv/*', assume_missing=True, names=['lon', 'lat', 'z'],
                  storage_options=storage_options)
toc1 = time.time()
connectTime = toc1-tic1

da = df0.to_dask_array(lengths=True)
del df0
chunksize = np.prod(da.chunksize) * da.dtype.itemsize
cluster.scale(0)
da

In [ ]:
diag_kwargs = dict(nbytes=da.nbytes, chunksize=chunksize, cloud=cloud, instance=instance,
                    format='Partitioned CSV', connectTime=connectTime)

df = mainLoop.loop(da, diag_kwargs)
name('partcsv', df)
df_partcsv

#### Parquet

In [ ]:
cluster.scale(max_workers)
client.wait_for_workers(max_workers)
tic1 = time.time()
df0 = dd.read_parquet(root + data + '.100MB.partparquet/*', storage_options=storage_options)
toc1 = time.time()
connectTime = toc1 - tic1

da = df0.to_dask_array(lengths=True)
del df0
chunksize = np.prod(da.chunksize) * da.dtype.itemsize
cluster.scale(0)
da

In [ ]:
diag_kwargs = dict(nbytes=da.nbytes, chunksize=chunksize, cloud=cloud, instance=instance,
                    format='Partitioned Parquet', connectTime=connectTime)

df = mainLoop.loop(da, diag_kwargs)
name('partparquet', df)
df_partparquet

### Gridded Data

In [5]:
intake.open_netcdf(root + data + '.nc', storage_options=storage_options).to_dask().data_vars # Lists all data variables contained in the data set.

Data variables:
    SLP      (TIME, LAT, LON) float32 ...

`variable = (string)` Choose a data variable from the list in the output above to use in read testing.

In [6]:
variable = 'SLP'

#### NetCDF

In [7]:
tic1 = time.time()
ds = intake.open_netcdf(root + data + '.nc', storage_options=storage_options).to_dask()
toc1 = time.time()
connectTime = toc1-tic1

# Set Dask chunks to match internal chunks
internal_chunks = ds[variable].encoding['chunksizes']
coords = ds[variable].dims
da = ds[variable].chunk(chunks=dict(zip(coords, internal_chunks))).data

chunksize = np.prod(da.chunksize) * da.dtype.itemsize
del ds
da

dask.array<xarray-<this-array>, shape=(90520, 94, 192), dtype=float32, chunksize=(22630, 24, 48), chunktype=numpy.ndarray>

In [8]:
diag_kwargs = dict(nbytes=da.nbytes, chunksize=chunksize, cloud=cloud, instance=instance,
                    format='NetCDF', connectTime=connectTime)

df = mainLoop.loop(da, diag_kwargs)
name('netcdf', df)
df_netcdf

Number of Workers: 40
Number of Workers: 40
Number of Workers: 36
Number of Workers: 32
Number of Workers: 28
Number of Workers: 24
Number of Workers: 20
Number of Workers: 16
Number of Workers: 12
Number of Workers: 8
Number of Workers: 4

,nworkers,nthreads,ncores,nbytes,chunksize,cloud,instance,format,runtime,throughput_Mbps,errors
0,40,40,40,6534819840,104279040,AWS,AWS,NetCDF,10.426516,1217.532243,261.757988
1,40,40,40,6534819840,104279040,AWS,AWS,NetCDF,4.308032,1517.176277,10.400713
2,36,36,36,6534819840,104279040,AWS,AWS,NetCDF,4.215733,1550.502993,12.513732
3,32,32,32,6534819840,104279040,AWS,AWS,NetCDF,5.145767,1273.371935,31.897344
4,28,28,28,6534819840,104279040,AWS,AWS,NetCDF,5.740605,1138.410820,4.143646
5,24,24,24,6534819840,104279040,AWS,AWS,NetCDF,6.243143,1046.802809,4.672886
6,20,20,20,6534819840,104279040,AWS,AWS,NetCDF,7.288359,896.827844,6.973525
7,16,16,16,6534819840,104279040,AWS,AWS,NetCDF,7.906013,826.613170,3.219923
8,12,12,12,6534819840,104279040,AWS,AWS,NetCDF,10.890497,600.061465,1.426738
9,8,8,8,6534819840,104279040,AWS,AWS,NetCDF,15.057902,433.983116,0.632586
10,4,4,4,6534819840,104279040,AWS,AWS,NetCDF,29.036888,225.052733,0.147434

#### Zarr

##### Zarr Array

In [9]:
tic1 = time.time()
da = dsa.from_zarr(root + data + '.zarray', storage_options=storage_options)
toc1 = time.time()
connectTime = toc1 - tic1
chunksize = np.prod(da.chunksize) * da.dtype.itemsize
da

dask.array<from-zarr, shape=(90520, 94, 192), dtype=float32, chunksize=(22630, 24, 48), chunktype=numpy.ndarray>

In [10]:
diag_kwargs = dict(nbytes=da.nbytes, chunksize=chunksize, cloud=cloud, instance=instance,
                    format='Zarr Array', connectTime=connectTime)

df = mainLoop.loop(da, diag_kwargs)
name('zarray', df)
df_zarray

Number of Workers: 40
Number of Workers: 40
Number of Workers: 36
Number of Workers: 32
Number of Workers: 28
Number of Workers: 24
Number of Workers: 20
Number of Workers: 16
Number of Workers: 12
Number of Workers: 8
Number of Workers: 4

,nworkers,nthreads,ncores,nbytes,chunksize,cloud,instance,format,runtime,throughput_Mbps,errors
0,40,40,40,6534819840,104279040,AWS,AWS,Zarr Array,4.782574,2570.625943,544.797009
1,40,40,40,6534819840,104279040,AWS,AWS,Zarr Array,1.949532,3353.429787,34.511866
2,36,36,36,6534819840,104279040,AWS,AWS,Zarr Array,2.731844,3073.126285,516.410743
3,32,32,32,6534819840,104279040,AWS,AWS,Zarr Array,2.412935,2722.559470,94.262234
4,28,28,28,6534819840,104279040,AWS,AWS,Zarr Array,2.440081,2679.092167,25.642669
5,24,24,24,6534819840,104279040,AWS,AWS,Zarr Array,3.266137,2019.948126,100.325952
6,20,20,20,6534819840,104279040,AWS,AWS,Zarr Array,3.135245,2084.683449,13.898021
7,16,16,16,6534819840,104279040,AWS,AWS,Zarr Array,3.606120,1826.454653,76.968732
8,12,12,12,6534819840,104279040,AWS,AWS,Zarr Array,4.692708,1393.108672,13.876023
9,8,8,8,6534819840,104279040,AWS,AWS,Zarr Array,6.204002,1053.464364,6.058457
10,4,4,4,6534819840,104279040,AWS,AWS,Zarr Array,12.261441,533.077638,3.966297

##### Zarr Hierachical Group

In [11]:
tic1 = time.time()
ds = xr.open_zarr(store = root + data + '.zarr', consolidated=True, storage_options=storage_options)
toc1 = time.time()
connectTime = toc1-tic1
da = ds[variable].data
del ds
chunksize = np.prod(da.chunksize) * da.dtype.itemsize
da

dask.array<open_dataset-8a6bc05d2ecd64f82588b6bc785cbd55SLP, shape=(90520, 94, 192), dtype=float32, chunksize=(22630, 24, 48), chunktype=numpy.ndarray>

In [12]:
diag_kwargs = dict(nbytes=da.nbytes, chunksize=chunksize, cloud=cloud, instance=instance,
                    format='Zarr Group', connectTime=connectTime)

df = mainLoop.loop(da, diag_kwargs)
name('zgroup', df)
df_zgroup

Number of Workers: 40
Number of Workers: 40
Number of Workers: 36
Number of Workers: 32
Number of Workers: 28
Number of Workers: 24
Number of Workers: 20
Number of Workers: 16
Number of Workers: 12
Number of Workers: 8
Number of Workers: 4

,nworkers,nthreads,ncores,nbytes,chunksize,cloud,instance,format,runtime,throughput_Mbps,errors
0,40,40,40,6534819840,104279040,AWS,AWS,Zarr Group,3.222889,2719.246562,482.434259
1,40,40,40,6534819840,104279040,AWS,AWS,Zarr Group,2.100127,3136.948468,132.070672
2,36,36,36,6534819840,104279040,AWS,AWS,Zarr Group,1.982593,3297.659497,35.708124
3,32,32,32,6534819840,104279040,AWS,AWS,Zarr Group,2.182060,3011.351701,112.597909
4,28,28,28,6534819840,104279040,AWS,AWS,Zarr Group,2.764679,2363.754033,6.575700
5,24,24,24,6534819840,104279040,AWS,AWS,Zarr Group,2.772521,2357.676503,20.058540
6,20,20,20,6534819840,104279040,AWS,AWS,Zarr Group,3.510870,1861.558512,10.757592
7,16,16,16,6534819840,104279040,AWS,AWS,Zarr Group,3.583802,1823.469417,4.110404
8,12,12,12,6534819840,104279040,AWS,AWS,Zarr Group,5.235347,1248.244097,3.197299
9,8,8,8,6534819840,104279040,AWS,AWS,Zarr Group,7.057432,926.044217,4.690195
10,4,4,4,6534819840,104279040,AWS,AWS,Zarr Group,14.069428,464.875040,6.725813

#### TileDB Embedded

In [ ]:
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = token
tic1 = time.time()
da = dsa.from_tiledb(root + data + '.tldb',
                     storage_options={'sm.compute_concurrency_level': 4, 'sm.io_concurrency_level': 4})
toc1 = time.time()
connectTime = toc1 - tic1
chunksize = np.prod(da.chunksize) * da.dtype.itemsize
da

In [ ]:
diag_kwargs = dict(nbytes=da.nbytes, chunksize=chunksize, cloud=cloud, instance=instance,
                    format='TileDB Embedded', connectTime=connectTime)

df = mainLoop.loop(da, diag_kwargs)
name('tldb', df)
df_tldb

-------------------------------------------------------------------------------------------------------------------------------

In [13]:
cluster.scale(0)

In [ ]:
client.close()
cluster.close()

## Full Results

In [14]:
df_results = pd.concat(diag_timer.names, ignore_index=True)
pd.set_option('display.max_rows', None)
df_results

,nworkers,nthreads,ncores,nbytes,chunksize,cloud,instance,format,runtime,throughput_Mbps,errors
0,40,40,40,6534819840,104279040,AWS,AWS,NetCDF,10.426516,1217.532243,261.757988
1,40,40,40,6534819840,104279040,AWS,AWS,NetCDF,4.308032,1517.176277,10.400713
2,36,36,36,6534819840,104279040,AWS,AWS,NetCDF,4.215733,1550.502993,12.513732
3,32,32,32,6534819840,104279040,AWS,AWS,NetCDF,5.145767,1273.371935,31.897344
4,28,28,28,6534819840,104279040,AWS,AWS,NetCDF,5.740605,1138.410820,4.143646
5,24,24,24,6534819840,104279040,AWS,AWS,NetCDF,6.243143,1046.802809,4.672886
6,20,20,20,6534819840,104279040,AWS,AWS,NetCDF,7.288359,896.827844,6.973525
7,16,16,16,6534819840,104279040,AWS,AWS,NetCDF,7.906013,826.613170,3.219923
8,12,12,12,6534819840,104279040,AWS,AWS,NetCDF,10.890497,600.061465,1.426738
9,8,8,8,6534819840,104279040,AWS,AWS,NetCDF,15.057902,433.983116,0.632586
10,4,4,4,6534819840,104279040,AWS,AWS,NetCDF,29.036888,225.052733,0.147434
11,40,40,40,6534819840,104279040,AWS,AWS,Zarr Array,4.782574,2570.625943,544.797009
12,40,40,40,6534819840,104279040,AWS,AWS,Zarr Array,1.949532,3353.429787,34.511866
13,36,36,36,6534819840,104279040,AWS,AWS,Zarr Array,2.731844,3073.126285,516.410743
14,32,32,32,6534819840,104279040,AWS,AWS,Zarr Array,2.412935,2722.559470,94.262234
15,28,28,28,6534819840,104279040,AWS,AWS,Zarr Array,2.440081,2679.092167,25.642669
16,24,24,24,6534819840,104279040,AWS,AWS,Zarr Array,3.266137,2019.948126,100.325952
17,20,20,20,6534819840,104279040,AWS,AWS,Zarr Array,3.135245,2084.683449,13.898021
18,16,16,16,6534819840,104279040,AWS,AWS,Zarr Array,3.606120,1826.454653,76.968732
19,12,12,12,6534819840,104279040,AWS,AWS,Zarr Array,4.692708,1393.108672,13.876023
20,8,8,8,6534819840,104279040,AWS,AWS,Zarr Array,6.204002,1053.464364,6.058457
21,4,4,4,6534819840,104279040,AWS,AWS,Zarr Array,12.261441,533.077638,3.966297
22,40,40,40,6534819840,104279040,AWS,AWS,Zarr Group,3.222889,2719.246562,482.434259
23,40,40,40,6534819840,104279040,AWS,AWS,Zarr Group,2.100127,3136.948468,132.070672
24,36,36,36,6534819840,104279040,AWS,AWS,Zarr Group,1.982593,3297.659497,35.708124
25,32,32,32,6534819840,104279040,AWS,AWS,Zarr Group,2.182060,3011.351701,112.597909
26,28,28,28,6534819840,104279040,AWS,AWS,Zarr Group,2.764679,2363.754033,6.575700
27,24,24,24,6534819840,104279040,AWS,AWS,Zarr Group,2.772521,2357.676503,20.058540
28,20,20,20,6534819840,104279040,AWS,AWS,Zarr Group,3.510870,1861.558512,10.757592
29,16,16,16,6534819840,104279040,AWS,AWS,Zarr Group,3.583802,1823.469417,4.110404
30,12,12,12,6534819840,104279040,AWS,AWS,Zarr Group,5.235347,1248.244097,3.197299
31,8,8,8,6534819840,104279040,AWS,AWS,Zarr Group,7.057432,926.044217,4.690195
32,4,4,4,6534819840,104279040,AWS,AWS,Zarr Group,14.069428,464.875040,6.725813